* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Jost', sans-serif;
}

.mainnav {
    display: flex;
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-bottom: 1px solid lightgrey;
}

.mainnav a {
    text-decoration: none;
    color: black;
}

.nav1 {
    display: flex;
    gap: 25px;
    list-style-type: none;
    margin-right: auto;
    font-size: 0.9rem;
    font-weight: 600;

}



.nav2 {
    display: flex;
    align-items: baseline;
    gap: 20px;
    list-style-type: none;
    font-size: 0.8rem;
    font-weight: 600;
}

.nav2__item--blue a {
    color: #0000ff;
}


.nav3 {
    display: flex;
    list-style-type: none;
    padding: 1rem 2rem;
    gap: 20px;

}

.nav3 a {
    text-decoration: none;
    color: black;
}

.nav3__item--active a{
    color: #fd5948;
}

.hero {
    display: grid;

}
.hero__img {
    width: 84%;
    margin-left: auto;
    margin-right: auto;
    grid-area: 1/2/1/2;
}

.hero__head {
    grid-area: 1/2/1/2;
    margin: auto;
    color: #fd5948;
    font-size: 6rem;
}

main {
    line-height: 1.6;
}

h2 a {
    text-decoration: none;
    color: #0000ff;
}
  
.info__block {
    margin: 2rem auto;
}
  
.info1__h2 {
    align-self: center;
    line-height: 2rem;
    max-width: 66%;
    margin: 4rem auto 2rem auto;
    font-size: 1.2rem;
}
  
.info1__para {
    align-self: center;
    width: 66%;
    margin: 0 auto;
    font-weight: 500;
    font-size: 0.9rem;
}
  
.image__block1 {
    margin: 0 auto;
    max-width: 84%;
    height: 58vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
    margin-top: 4rem;
}

.image__block1__img1 {
    max-width: 41vw;
    max-height: 41vw;
    z-index: 2;
}
  
.image__block1__img2 {
    max-width: 33vw;
    max-height: 25vw;
    z-index: 2;
}

.yellow {
  background-color: #FBFFA7;
  width:80vw;
  height: 58.33333vw;
  margin-left: 25rem;
  position: absolute;
  z-index: 1;
}

.video1__h2 {
    align-self: center;
    line-height: 2rem;
    max-width: 66%;
    margin: 4rem auto 2rem auto;
    font-size: 1.2rem;
}

.video1__para {
    align-self: center;
    width: 66%;
    margin: 0 auto;
    margin-bottom: 5rem;
    font-weight: 500;
    font-size: 0.9rem;

}

.video1 {
    margin-top: 0;
    margin-left: 15rem;
}

.video__block1__figcation {
  margin-left: 15rem;
  padding-bottom: 3rem;
  font-weight: 400;
  font-size: small;
}
  
.image__h2 {
    align-self: center;
    line-height: 2rem;
    max-width: 66%;
    margin: 4rem auto 2rem auto;
    font-size: 1.2rem;
}
  
.image2__para {
    align-self: center;
    width: 66%;
    margin: 0 auto;
    font-weight: 500;
    font-size: 0.9rem;
}
  
.image__block2 {
    max-width: 84%;
    max-height: 200vh;
    display: grid;
    background-color: #b6ffc0;
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 4rem;
}

.image__block2__img1 {
    margin-top: 7rem;
    margin-bottom: 5rem;
    margin-left: 3rem;
    grid-row: 1/2;
    grid-column: 1/2;
    max-width: 33vw;
    max-height: 25vw;
}

.image__block2__img2 {
    margin-top: 0;
    margin-bottom: 5rem;
    margin-left: 3rem;
    grid-row: 2/3;
    grid-column: 1/2;
    max-width: 33vw;
    max-height: 25vw;
}

.image__block2__img3 {
    margin-top: 15rem;
    grid-row: 1/3;
    grid-column: 3/3;
    max-width: 41vw;
    max-height: 41vw;
} 
   

.video__block2 {
    font-size: 1rem;
    margin: 5rem auto;
    max-width: 84%;
    padding-bottom: 6rem;
    font-size: 0.8rem;
}
.video__block2__h2 {
    font-weight: 600;
}
.video__block2__p {
    font-weight: 500;
    font-size: 0.9rem;
}
.video__block2__h2,
.video__block2__p {
    width: 79%;
    margin: 0 auto;
    padding-bottom: 1em;
}
.video__block2__img {
  padding-top: 3rem;
  max-width: 84vw;
}
.video__block2__figcation {
    padding-bottom: 3rem;
    font-weight: 600;
}

.image__block3 {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    gap: 7rem;
    align-items: center;

}
.image__block3__lavender {
    background-color: #D5B3FF;
    width: 66.66667vw;
    height: 58.33333vw;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
}

.image__block3__img1 {
    width: 33.33333vw;
    height: 25vw;
    margin-left: 7rem;
    z-index: 2;
}
.image__block3__img2 {
    width: 61.66667vw;
    z-index: 2;
    margin-right: -10vw;
}
.video__block3__p {
    margin-bottom: 3rem;
}

.info__block2 {
max-width: 84vw;
margin: 10rem auto;

}
.info__block2 img {
    max-width: 84vw;
    margin: 0 auto;
    display: flex;
}
.info__block2 {
    font-size: 0.8rem;
}
.info__block2 p {
    margin-bottom: 5rem;
}
.box {
    background-color: #b1c5ff;
    padding: 5rem 5rem;
}
.box a{
    text-decoration: none;
    color: #0000ff;
}

/* footer */

/* footer {
	display:flex;
	justify-content: space-between;
	background-color: white;
	padding: 10%;
    border-top: 2px solid #efefef;
} */



.info1 {
	list-style-type: none;
	padding: 0;
}
.info1 a{
	color: black;
	text-decoration: none;
}
